<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>518025186145-ubobh6s3lb8t5r056pif1un4f72kqn2h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.518025186145-ubobh6s3lb8t5r056pif1un4f72kqn2h</string>
	<key>API_KEY</key>
	<string>AIzaSyBuXvflw7nWFuZtKxdZW9hyhh8BbwXiiPQ</string>
	<key>GCM_SENDER_ID</key>
	<string>518025186145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.plix.app</string>
	<key>PROJECT_ID</key>
	<string>plix-257f0</string>
	<key>STORAGE_BUCKET</key>
	<string>plix-257f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:518025186145:ios:2bf38270a09a9f6083d320</string>
</dict>
</plist>